<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<header>
    <% include ./partials/header %>
</header>


<body class="container">

<main>

<center><h2>Blockchain Developer's Growth Platform and Solution Map</h2></center>

<p>
<font size="3">
We as blockchain technology fans build ChainMap.org to support the community on use case analysis, finding solutions, building connections, and teaming up with similar minds. 
ChainMap is designed to become your own community with personalised information on: 

</font>
<br>
<ul>
	<li>Challenges that reward you
	<li>Github Projects 
	<li>Community news and events
	<li>Training materials
	<li>White paper and article search engine
</ul>	
</p>

<h2>Signup (or <a href="/login">Login</a>) to make ChinaMap help to bring you success</h2>
<br>
<form method="post" action="/register">
  
  <table>
    <tr><td>  
    <label>Email (*):</label>  
    </td><td>
    <input type="text" name="email" size="60">
    </td></tr>
   
    
     <tr><td> 
    <label>Password (*) :</label>
    </td><td>
    <input type="password" name="password" size="60">
    </td></tr>
    
    
    
      <tr><td> 
  <label>Primary BlockChain Interest Category (*):</label>  
  </td><td>  
  <select name="primarycat">
    <option value="PublicChainInfr">Public Chain Infrastructure</option>
    <option value="EnterpriseChainInfr">Enterprise Chain Infrastructure</option>
    <option value="Finance">Finance</option>
    <option value="Data">Data</option>
    <option value="AI">AI</option>
    <option value="Identity">Identity</option>
    <option value="CopyRight">CopyRight</option>
    <option value="Social">Social</option>
    <option value="IOT">IOT</option>
    <option value="Law">Law</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Game">Game</option>
    <option value="RealEstate">RealEstate</option>
    <option value="Charity">Charity</option>
    <option value="Enterprise">Enterprise</option>
    <option value="HealthCare">HealthCare</option>
    <option value="Energy">Energy</option>
    <option value="Agriculture">Agriculture</option>    
  </select>
  </td></tr>
   
    
   <tr><td> 
  <label>Seek partner or team members for challenge (optional)? :</label>
  </td><td>
  <select name="partneryes">
    <option value="No">No</option>
    <option value="Yes">Yes</option>
  </select>
  </td></tr>
   
    
   <tr><td> 
    <label>What kind of team partners are you looking for (optional)? :</label>
    </td><td>
    <input type="text" name="teamneeds" size="60">
    </td></tr>
    
    
   <tr><td> 
    <label>Your Location (optional):</label>
    </td><td>
    <input type="text" name="location" size="60">
    </td></tr>
    </table>
    
    <br>
    <input type="submit" value="Signup">
</form>


</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>